<ActionBar title="Remote Linux" class="action-bar"></ActionBar>


<TabView [(ngModel)]="tabSelectedIndex" class="tab-view">
    <StackLayout class="slide" *tabItem="{title: 'Commands'}">
        <Label text="Commands list" class="h2"></Label>

        <ListView [items]="commandsList">
            <template let-item="item">
                <Button [text]="item" (tap)="sendCommand(item)" class="btn btn-primary btn-active"></Button>
            </template>
        </ListView>

    </StackLayout>

    <StackLayout class="slide" *tabItem="{title: 'Stats'}">

        <StackLayout class="input-field">
            <Label class="label" text="Open in chrome" row="1" col="0" textWrap="true"></Label>
            <TextField class="input input-border" hint="url address" [(ngModel)]="urlAddress" row="1" col="1" autocapitalizationType="none"
                autocorrect="false" verticalAlignment="center" (returnPress)="openUrl()" returnKeyType="Open"></TextField>
        </StackLayout>
        <!--<Button text="Open" (tap)="openUrl()" class="btn btn-primary btn-active"></Button>-->-->
    </StackLayout>
    <StackLayout class="slide" *tabItem="{title: 'Spotify'}">

        <GridLayout rows='150' columns='*'>
            <!--<WebImage style="width:150;"  stretch="fill" src="https://open.spotify.com/image/d9aaa3f7a57299981173fe151d4a0e989ed4292e"></WebImage>-->
            <WebImage style="width:150; background-color:#DDDDDD;" stretch="fill" [src]="spotifyInfo && spotifyInfo['mpris:artUrl']!=='' ? spotifyInfo['mpris:artUrl'] : tmpImage"></WebImage>
        </GridLayout>

        <Label class="label" [text]="spotifyInfo ? spotifyInfo['xesam:title'] : 'Title'" row="1" col="0" textWrap="true"></Label>
        <Label class="label" [text]="spotifyInfo ? (spotifyInfo['mpris:length'] | timer) : '0:00'" row="1" col="0" textWrap="true"></Label>


        <Button text="spotify" (tap)="sendCommand('spotify')" class="btn btn-primary btn-active"></Button>
        <Button text="spotifyPlayPause" (tap)="sendCommand('spotifyPlayPause')" class="btn btn-primary btn-active"></Button>
        <Button text="spotifyNext" (tap)="sendCommand('spotifyNext')" class="btn btn-primary btn-active"></Button>
        <Button text="spotifyPrevious" (tap)="sendCommand('spotifyPrevious')" class="btn btn-primary btn-active"></Button>
        <Button text="spotifyClose" (tap)="sendCommand('spotifyClose')" class="btn btn-primary btn-active"></Button>


    </StackLayout>

    <StackLayout class="slide" *tabItem="{title: 'Settings'}">


        <Label text="Find server" class="h2"></Label>

        <Button text="Search" (tap)="search()" class="btn btn-primary btn-active"></Button>
        <Button text="Disconnect" (tap)="disconnect()" class="btn btn-primary btn-active"></Button>

        <Label text="Servers found" class="h2"></Label>

        <ListView [items]="serversIps">
            <template let-item="item">
                <Button [text]="item" (tap)="connect(item)" class="btn btn-primary btn-active"></Button>
            </template>
        </ListView>
        <ActivityIndicator [busy]="isLoadingServers" [visibility]="isLoadingServers ? 'visible' : 'collapse'"></ActivityIndicator>


        <!--<Label text="Manual" class="h2"></Label>
        <StackLayout class="input-field">
            <Label class="label" text="IP address" row="1" col="0" textWrap="true"></Label>
            <TextField class="input input-border" id="ipAddress" hint="IP address" [(ngModel)]="ipAddress" row="1" col="1"></TextField>
        </StackLayout>

        <Button text="Connect" (tap)="connect(ipAddress)" class="btn btn-primary btn-active"></Button>-->


    </StackLayout>
</TabView>