<ActionBar title="Remote Linux" class="action-bar"></ActionBar>


<TabView [(ngModel)]="tabSelectedIndex" class="tab-view">
    <StackLayout class="slide" *tabItem="{title: 'Commands'}">
        <Label text="Commands list" class="h2"></Label>

        <ListView [items]="commandsList">
            <template let-item="item">
                <Button [text]="item" (tap)="sendCommand(item)" class="btn btn-primary btn-active"></Button>
            </template>
        </ListView>

    </StackLayout>

    <StackLayout class="slide" *tabItem="{title: 'Stats'}">

        <StackLayout class="input-field">
            <Label class="label" text="Open in chrome" row="1" col="0" textWrap="true"></Label>
            <TextField class="input input-border" hint="url address" [(ngModel)]="urlAddress" row="1" col="1" autocapitalizationType="none"
                autocorrect="false" verticalAlignment="center" (returnPress)="openUrl()" returnKeyType="Open"></TextField>
        </StackLayout>
        <!--<Button text="Open" (tap)="openUrl()" class="btn btn-primary btn-active"></Button>-->-->
    </StackLayout>

    <StackLayout class="slide" *tabItem="{title: 'Settings'}">

        <Label text="Find server" class="h2"></Label>

        <Button text="Search" (tap)="search()" class="btn btn-primary btn-active"></Button>
        <Button text="Disconnect" (tap)="disconnect()" class="btn btn-primary btn-active"></Button>

        <Label text="Servers found" class="h2"></Label>


        <ListView [items]="serversIps">
            <template let-item="item">
                <Button [text]="item" (tap)="connect(item)" class="btn btn-primary btn-active"></Button>
            </template>
        </ListView>
        <!--<ActivityIndicator [busy]="isLoadingServers" [visibility]="isLoadingServers ? 'visible' : 'collapse'"></ActivityIndicator>-->


        <!--<Label text="Manual" class="h2"></Label>
        <StackLayout class="input-field">
            <Label class="label" text="IP address" row="1" col="0" textWrap="true"></Label>
            <TextField class="input input-border" id="ipAddress" hint="IP address" [(ngModel)]="ipAddress" row="1" col="1"></TextField>
        </StackLayout>

        <Button text="Connect" (tap)="connect(ipAddress)" class="btn btn-primary btn-active"></Button>-->


    </StackLayout>
</TabView>